@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar {
  
  height: 120vh;
  background-color: #000000;
  padding: 20px;
  
}

.menu button {

  width: 100%;
  margin-bottom: 10px;
  position: relative;
  left: 20px;
  top:200px;
}

.submenu{
  position: relative;
  right: 580px;
  margin-left: 0px;
}

.UtilizadorCliente, .UtilizadorProfissional{
  margin-top: 50px;
}

.custom-funcionailidades{
  position: relative;
  bottom: 25px;
  width: 400px;
  height: 200px;
  background-color: #000000;
}

.custom-contentFuncionalidades{
  display: flex;
  justify-content: center;
  align-items: center;
}

.customGeral{
  margin: 20px 20px 20px 20px;
}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: #000000 !important;
}

.imagemUtilizador {
  width: 100px; /* Defina o tamanho desejado */
  height: 100px; /* Igual à largura para manter um círculo */
  object-fit: cover; /* Para manter a proporção da imagem */
  border-radius: 50%; /* Bordas arredondadas para formar um círculo */
  border: 2px solid #212529;
}

.imagemProfissional, .imagemCliente {
  width: 100px; /* Defina o tamanho desejado */
  height: 100px; /* Igual à largura para manter um círculo */
  object-fit: cover; /* Para manter a proporção da imagem */
  border-radius: 50%; /* Bordas arredondadas para formar um círculo */
  border: 2px solid #212529;
  position: relative;
  left: 60px;
}


.posiBtn{
  position: relative;
  margin-top: 10px;
  left:120px;
}

.customTituloTabela {
  position: relative;
  left: 100px;
}

h2>i{
  margin-left: 50px;
}


/*CSS - SERVICOS*/

.customServicos{
  position: relative;
  top: 20px;
  width: 400px;
  height: 200px;
  background-color: #000000;
}


/*------------------------------------------------------SIDEBAR---------------------------------------------*/
/*

<div className="container mt-4">
                <table className="table table-bordered">
                  <thead>
                    <tr>
                      <th>Coluna 1</th>
                      <th>Coluna 2</th>
                      <th>Coluna 3</th>
                      <th>Coluna 4</th>
                      <th>Coluna 5</th>
                      <th>Coluna 6</th>
                      <th>Coluna 7</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                      <td>Linha 1</td>
                    </tr>
                    <tr>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                      <td>Linha 2</td>
                    </tr>
                    <tr>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                      <td>Linha 3</td>
                    </tr>
                    <tr>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                      <td>Linha 4</td>
                    </tr>
                  </tbody>
                </table>
              </div>





*/