@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tituloServico{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cardSection{
  position: relative;
  bottom:150px;
  
}

.conteudoCard{
  margin-top: 15px;
  position: relative;
  right: 80px;
  top: 50px;
}

img{
  width: 30px;
  height: 10px;
}

.cardOnly{
  width: 550px;
  height: 250px;
}

.cardTwo{
  background-color: #9e5400;
  width: 550px;
  height: 250px;
  margin-left: 100px;
}
/*




<div className="container my-5">
        <div className="row">
    
          <div className="col-md-5 mb-4">
            <div className="card">
              <img src="https://via.placeholder.com/800x400" className="card-img-top" alt="Card Image 1"/>
              <div className="card-body">
                <h5 className="card-title">Cabeleiro</h5>
                <p className="card-text">Descubra uma nova experiência de beleza no Salão Karapinha! Nossos cabeleireiros especializados oferecem tratamentos personalizados, cortes modernos e coloração impecável. Agende sua visita e transforme seu visual. Esperamos por você!</p>
                <a href="#" className="btn btn-primary btn-sm">Saiba Mais</a>
              </div>
            </div>
          </div>
         
          <div className="col-md-5 mb-4">
            <div className="card">
              <img src="https://via.placeholder.com/800x400" className="card-img-top" alt="Card Image 2"/>
              <div className="card-body">
                <h5 className="card-title">Estética</h5>
                <p className="card-text">Você está convidado(a) para experimentar nossos exclusivos serviços de estética no Karapinha! Oferecemos tratamentos personalizados para cuidar da sua pele, rejuvenescê-la e realçar sua beleza natural.  Esperamos por você!</p>
                <a href="#" className="btn btn-primary btn-sm">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
*/